/* Font */
.disclaimer { font-size: 0.7em;}
.glyph-social { font-size: 1.5em;}

/* Layout */
.sidebar { order: 0;}
.content { order: 1;}

.menu-item {
  padding: 10px;
  margin: 5px 0 5px 0;
}

.project, .about {
  margin: 5px 0;
  padding: 10px;
}
.project {
  border: 1pt solid white;
}

/**Compatibility**/

/* Mobile */
@media all {
  .sidebar img { display: none;}
  .social { letter-spacing: 0.3em;}
}
/* Desktop */
@media all and (min-width: 600px) {
  .container    { padding: 30px 10% 30px 10%; }
  .sidebar      { flex: 0 auto; }
  .sidebar img  { width: 20vw; display: unset;}
  .social       { letter-spacing: 0;}
}
@media all and (min-width: 800px) {
  .social       { letter-spacing: 0.5em;}
}
@media all and (min-width: 1300px) {
  .container    { padding: 30px 15% 30px 15%;}
  .sidebar img  { width: 15vw; }
}
