/* Font */
body {
  font-family: "Courier";
  font-size: 85%;
  line-height: 1.55;
}

/* Colors */
body {
  background-color: black;
  color: white;
}
.menu-item  { color: white;}
a           { color: white;}
.section    { color: #aaaaaa;}

/* Layout */
body {
  margin: 0;
  overflow-y: scroll;
}
.container {
  display: flex;  
  flex-flow: row wrap;
}
.container > * {
  margin: 0 5px;
  flex: 1 100%;
}

/**Compatibility**/

/* Mobile */
@media all {
  .content { margin-top: -5px;}  
  .title { display: none;}
}
/* Desktop */
@media all and (min-width: 600px) {
  .menu-title   { display: none;}
  .content      { flex: 3 0px; }
  .title        { display: unset;}
  .title h2     { text-align: center;}
}

